@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto');

.container {
      width: 100%;
      height: 100%;
      display: grid;
      font-family: 'Roboto', sans-serif;
      grid-template-columns: 800px 1fr;
      grid-template-rows: 1fr 1fr 4fr;
      grid-template-areas: "title title"
                           "map aside-top"
                           "map aside-list"
                           "map aside-list"
                           "map aside-list"
                           "map aside-list"
}

.title {
      grid-area: title;
}
#map {
      grid-area: map;
}

.aside-top {
      grid-area: aside-top;
}

.aside-list {
      grid-area: aside-list;
}
