<h1>New Country</h1>

<form action="/beens" method="POST">
    <p>
      <label for="name">Name</label>
      <input type="text" name="name">
    </p>

    <input type="submit" value="Create" name="name">
</form>
