<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
  <header class="title">
      <h1>Where have you been?</h1>
  </header>
  <main id="map"></main>
  <aside>
      <form class="aside-top">
      <a href="/beens">See all the coutry you've been</a>
      </form>
      <ol class="aside-list">

      </ol>
  </aside>
  </div>
  <script src="app.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMNBtEzJyAvLrGDgO3m-_KNTHHfc42FK8&callback=initMap">
  </script>
</body>
