<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
  <header class="title">
      <h1>Where have you been?</h1>
  </header>
  <main id="map"></main>
  <aside>
      <hr>
      <form class="aside-top">
          <a href="/beens"><h3>See all the coutries you've been.</h3></a>
      </form>
      <hr>
      <form class="aside-list">
          <h3 class ="listTitle">Plan where you want to go next!</h3>
          <div id="floating-panel">
              <input id="address" type="textbox" placeholder="Type any country and make a list">
              <input id="submit" type="button" value="Search">
          </div>
          <ol id="countryList">
              <!-- <li> tags shows up when users submit through the input box -->
          </ol>
      </form>
  </aside>
  </div>
  <script src="app.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMNBtEzJyAvLrGDgO3m-_KNTHHfc42FK8&callback=initMap">
  </script>
</body>
