<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
  <header class="title">
      <h1>Where have you been?</h1>
  </header>
  <main id="map"></main>
  <aside>
      <form class="aside-top">
      <a href="/beens"><h3>See all the coutries you've been.</h3></a>
      </form>

      <form class="aside-list">
          <h3>Plan where you want to go next</h3>
          <div id="floating-panel">
          <input id="address" type="textbox" placeholder="United States">
          <input id="submit" type="button" value="Search">
          </div>
          <ol id="countryList">

          </ol>
          <!-- <label for="Canada">Canada</label>
          <input type="radio" id="Canada" value="Canada"><br>
          <label for="Brazil">Brazil</label>
          <input type="radio" id="Brazil" value="Brazil"><br>
          <label for="United States">United States</label>
          <input type="radio" id="United States" value="United States"><br>
          <input type="submit" value="Submit"> -->
      </form>
  </aside>
  </div>
  <script src="app.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMNBtEzJyAvLrGDgO3m-_KNTHHfc42FK8&callback=initMap">
  </script>
</body>
