<!-- compiled and minified materialize-css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<nav style="background-color: #2196f3;">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Where have you been?</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="">Sign Up</a></li>
            <li><a href="">Sign In</a></li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
<h3> The countries you've been </h3>
<div class="collection">
<ol>
    {{#each beens}}
      <li>
          <a href="/beens/{{this.id}}" class="collection-item">{{this.name}}</a>
      </li>
    {{/each}}
</ul>
</div>
    <a href="beens/new" class="waves-effect waves-light btn-large" style="background-color: #757575;">Add a country!</a>
</div>
