<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">


<h1> Country Lists </h1>

<div class="collection">
<ol>
  {{#each beens}}
    <li>
        <a href="/beens/{{this.id}}" class="collection-item">{{this.name}}</a>
    </li>
    {{/each}}
</ul>
</div>

<a href="beens/new" class="waves-effect waves-light btn-large">Add a country!</a>
