<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">


<h1>Add more countries</h1>

<form action="/beens" method="POST">
    <p>
      <label for="name">Country</label>
      <input type="text" name="name">
    </p>

    <input class="waves-effect waves-light btn-large" type="submit" value="Create">
</form>
